# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next.js
/.next/
/out/
/build
next-env.d.ts

# typescript
*.tsbuildinfo

# production
/dist

# testing
/coverage

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# editor / OS
.idea/
.vscode/*
!.vscode/extensions.json

# claude local settings
.claude/settings.local.json
